<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>- PFS 问题反馈系统</title>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
            	<!-- Brand and toggle get grouped for better mobile display -->
            	<div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            			<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            		</button>
            		<a class="navbar-brand" href="/">PFS 问题反馈系统</a>
            	</div>
            
            	<!-- Collect the nav links, forms, and other content for toggling -->
            	<div class="collapse navbar-collapse navbar-ex1-collapse">
            		<ul class="nav navbar-nav">
            			<li class="active"><a href="/">首页</a></li>
            			<li class="dropdown">
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown">地址传送门<b class="caret"></b></a>
            				<ul class="dropdown-menu">
            					<li><a href="#">防火墙</a></li>
								<li><a href="#">CDN</a></li>
								<li><a href="#">监控</a></li>
								<li><a href="#">Network</a></li>
            				</ul>
            			</li>
                        <li class="dropdown">
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown">日志记录<b class="caret"></b></a>
            				<ul class="dropdown-menu">
            					<li><a href="/feedback/">报障日志</a></li>
								<li><a href="#">巡检日志</a></li>
                                <li><a href="/admin/list/">报障日志查询</a></li>
            				</ul>
            			</li>
            		</ul>
            		<form class="navbar-form navbar-left" role="search">
            			<div class="form-group">
            				<input type="text" class="form-control" placeholder="Search">
            			</div>
            			<button type="submit" class="btn btn-default">Submit</button>
            		</form>
            		<ul class="nav navbar-nav navbar-right">
            			<li><a href="#">Link</a></li>
            			<li class="dropdown">
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员<b class="caret"></b></a>
            				<ul class="dropdown-menu">
            					<li><a href="#">退出</a></li>
            					<li><a href="#">Another action</a></li>
            				</ul>
            			</li>
            		</ul>
            	</div><!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="row">
            <ul class="breadcrumb">
                <li><a href="">首页</a></li>
                <li class="active">问题反馈</li>
            </ul>
        </div>

        {% block main_content %}

        {% endblock %}

        <div class="row">

        </div>

        <div class="row">
            <div class="well text-center" >
                &copy;运维管理平台 <a href="http://cutv.com">cutv.com</a>
            </div>
        </div>
    </div>
</body>
</html>