{% extends 'base.html' %}
{% block main_content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>加班单</h4>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('post_sheet')}}"  method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="hidden"  value="otsheet" class="form-control" id="sheet" name="sheet">
                    </div>
                </div>
                <div class="form-group">
                    <label for="names" class="control-label col-md-1 ">申请人</label>
                    <div class="col-md-1 ">
                        <input type="text" class="form-control" id="names" name="names">
                    </div>
                    <label for="department" class="control-label col-md-1">所属部门</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="department" name="department">
                    </div>
                    <label for="position" class="control-label col-md-1">职位</label>
                    <div class="col-md-1">
                        <input type="text" class="form-control" id="position" name="position">
                    </div>
                </div>
                <div class="form-group">
                    <label for="thing" class="control-label col-md-1">加班原因</label>
                    <div class="col-md-6">
                        <textarea name="thing" id="thing" cols="75" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="control-label col-md-1 ">加班日期</label>
                    <div class="col-md-1 ">
                        <input size="10" type="text" id="date" name="date" readonly class="form_datetime">
                    </div>
                    <label for="place" class="control-label col-md-1 ">加班地点</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="place" name="place">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ottime" class="control-label col-md-1 ">预计加班</label>
                    <div class="col-md-1 ">
                        <input type="text" class="form-control" id="ottime" name="ottime" placeholder="小时">
                    </div>
                        <label for="dtp_input3" class="col-md-1 control-label">实际加班</label>
                        <input size="16" type="text" id="datetimeStart" name="datetimeStart" readonly class="form_datetime">
                        至
                        <input size="16" type="text" id="datetimeEnd" name="datetimeEnd" readonly class="form_datetime">
                    </div>


                <div>
                    <input type="submit" class="btn btn-primary" value="生成">
                    <input type="reset" class="btn btn-default" value="重置">
                </div>
            </form>
        </div>
    </div>
</div>
    <script type="text/javascript">
        $('#date').datetimepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            language: 'zh-CN',
            minView:'month',
            startView: 'year'
        });

        $('#datetimeStart').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            language: 'zh-CN',
            todayBtn:true
        });

        $('#datetimeEnd').datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            autoclose: true,
            language: 'zh-CN',
        });
    </script>

{% endblock %}